In [2]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

df_xlsx = pd.read_excel('pokemon_data.xlsx') # Reading as an excel file
df = pd.read_csv('pokemon.txt', delimiter='\t') # Reading as a .txt file with separator.

print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'pokemon_data.xlsx'

# Reading Data

In [ ]:
## Read Headers
df.columns

## Read each Column
#print(df[['Name', 'Type 1', 'HP']][:5])

## Read each Row
#print(df.iloc[:4])
#for index, row in df.iterrows():
#    print(index, row['Name'])
df.loc[df['Type 1'] == 'Ghost']

## Read a specific Location (R,C)
#print(df.iloc[2,1])

# Sorting/Describing Data

In [3]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [4]:
df.sort_values(['Name', 'Type 2'], ascending=[1,0]) #first one is ascending, second is decending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to the data

In [5]:
#df['Total'] = df['HP'] + df['Attack'] # + df... til df['Speed'] #Add a column
#df = df.drop(columns=['Total']) #drop a column

df['Total'] = df.iloc[:, 4:10].sum(axis=1) #first : means all row, second : means from 4th to 9th columns

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [6]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving Data (export to desired format)

In [7]:
df.to_csv('modified.csv', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [8]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
print(new_df.head())

new_df = new_df.reset_index(drop=True) #to reset index and drop the old index column or replace with 'inplace=True'

new_df

       #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
2      3               Venusaur  Grass  Poison    525   80      82       83
3      3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
50    45              Vileplume  Grass  Poison    490   75      80       85
77    71             Victreebel  Grass  Poison    490   80     105       65
652  591              Amoonguss  Grass  Poison    464  114      85       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
2        100      100     80           1      False
3        122      120     80           1      False
50       110       90     50           1      False
77       100       70     70           1      False
652       85       80     30           5      False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [9]:
import re #regular expression

df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)] # Look into regex
# or
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)] : added para is to ignore case

# df.loc[df['Name'].str.contains('Mega'), regex=True] # add ~ before 'df['Name']' to get the one that doesn't have Mega

# df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] : get rows that the name start with "pi", ^ means start, * mean ZERO or More

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Conditional Change

In [20]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire' #Set all Flamer Type Pokemon to have their Type 1 = Fire
df.loc[df['Type 1'] == 'Fire']
#df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True # Set all the Fire Type Pokemon to be Legendary Pokemon
df = pd.read_csv('modified.csv') # Reload checkpoint data when not setting Fire Pokemon to all Legend

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
#df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['TEST1', 'test2'] # Modifying more than one columns and even individualy