In [3]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

#df_xlsx = pd.read_excel('pokemon_data.xlsx') # Reading as an excel file
#df = pd.read_csv('pokemon.txt', delimiter='\t') # Reading as a .txt file with separator.

#print(df.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

# Reading Data

In [24]:
## Read Headers
df.columns

## Read each Column
#print(df[['Name', 'Type 1', 'HP']][:5])

## Read each Row
#print(df.iloc[:4])
#for index, row in df.iterrows():
#    print(index, row['Name'])
df.loc[df['Type 1'] == 'Ghost']

## Read a specific Location (R,C)
#print(df.iloc[2,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
215,200,Misdreavus,Ghost,NaN,60,60,60,85,85,85,2,False
385,353,Shuppet,Ghost,NaN,44,75,35,63,33,45,3,False
386,354,Banette,Ghost,NaN,64,115,65,83,63,65,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
389,356,Dusclops,Ghost,NaN,40,70,130,60,130,25,3,False
472,425,Drifloon,Ghost,Flying,90,50,34,60,44,70,4,False
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
477,429,Mismagius,Ghost,NaN,60,60,60,105,105,105,4,False
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False
529,477,Dusknoir,Ghost,NaN,45,100,135,65,135,45,4,False
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
623,562,Yamask,Ghost,NaN,38,30,85,55,65,30,5,False
624,563,Cofagrigus,Ghost,NaN,58,50,145,95,105,30,5,False
668,607,Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
669,608,Lampent,Ghost,Fire,60,40,60,95,60,55,5,False
670,609,Chandelure,Ghost,Fire,60,55,90,145,90,80,5,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False

# Sorting/Describing Data

In [25]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [31]:
df.sort_values(['Name', 'Type 2'], ascending=[1,0]) #first one is ascending, second is decending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to the data

In [45]:
#df['Total'] = df['HP'] + df['Attack'] # + df... til df['Speed'] #Add a column
#df = df.drop(columns=['Total']) #drop a column

df['Total'] = df.iloc[:, 4:10].sum(axis=1) #first : means all row, second : means from 4th to 9th columns

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [46]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving Data (export to desired format)

In [55]:
df.to_csv('modified.csv', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [63]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
print(new_df.head())

new_df = new_df.reset_index(drop=True) #to reset index and drop the old index column or replace with 'inplace=True'

new_df

       #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
2      3               Venusaur  Grass  Poison    525   80      82       83
3      3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
50    45              Vileplume  Grass  Poison    490   75      80       85
77    71             Victreebel  Grass  Poison    490   80     105       65
652  591              Amoonguss  Grass  Poison    464  114      85       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
2        100      100     80           1      False
3        122      120     80           1      False
50       110       90     50           1      False
77       100       70     70           1      False
652       85       80     30           5      False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False